<div>
    <h3>Корзина</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="oi in cart.items">
            <td>{{oi.productTitle}}</td>
            <td>
                {{oi.quantity}}
            </td>
            <td>{{oi.pricePerProduct + ' * ' + oi.quantity + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итоговая стоимость</td>
            <td>{{cart.price}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <form novalidate ng-submit="submitCheckout()" >
        <span>Имя</span> <input type="text" ng-model="username" placeholder="Введите имя" >
        <span>Телефон</span> <input type="text" ng-model="phone" placeholder="Введите телефон" >
        <span>Адрес</span> <input type="text" ng-model="address" placeholder="Введите адрес" >
        <button type="submit">Создать заказ</button>
    </form>
</div>