<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Товары</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.name}"/>
            <td th:text="${p.price}"/>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/products(p=${prevPage}, min=${min}, max=${max})}" th:if="${prevPage > 0}">Предыдущая страница</a> |
    <a th:href="@{/products(p=${nextPage}, min=${min}, max=${max})}" th:if="${countPage >= nextPage}">Следующая страница</a>
    <hr>
    <form action="#" method="get">
        <h3>Фильтрация по цене</h3>
        <h3 th:text="${min}"></h3>
        <input type="hidden" name="page" th:value="${page}">
        <span>min</span> <input type="text" name="min">
        <span>max</span> <input type="text" name="max">
        <button>Отправить</button>
    </form>


</div>

</body>
</html>